# Makefile for libanyvalue_db
# Copyright (C) 2019 Sergey Kolevatov

###################################################################

VER := 0

APP_PROJECT := example

APP_BOOST_LIB_NAMES := system

APP_THIRDPARTY_LIBS =

APP_SRCC = example.cpp

APP_EXT_LIB_NAMES = \
	serializer \
	utils \
	anyvalue \
