# Makefile for libanyvalue_db
# Copyright (C) 2019 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = anyvalue_db

LIB_BOOST_LIB_NAMES :=

LIB_SRCC = \
	record.cpp \
	str_helper.cpp \
	serializer.cpp \
	table.cpp \

LIB_EXT_LIB_NAMES = \
	serializer \
	utils \
	anyvalue \
